html {
    font-family:'Times New Roman', Times, serif;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  }
  
  .logo{
    text-align: center;
    background-color: rgb(197, 96, 29);
    color: rgb(255, 255, 255);
    padding: 0.8em;
  }
  #heading{
    font-size: larger;
    font-weight: 400;
    color: white;
    display: inline-block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #data {
    height: 14vh;
    background: rgb(186, 197, 82);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
    cursor: pointer;
  }
  
  #data span {
    padding: 1%;
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    align-items: center;
    border-radius: 2em;
    border: 1px solid white;
  }
  
  .characterInformation{
    height: 600px;
    padding: 30px;
    font-size: 22px;
    border: inset;
    text-align: center;
  }
  
  input[type="submit"], button {
    background-color: blue;
    color: rgb(42, 99, 165);
    font-size: 30px;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  
  input[type="text"] {
    font-size: 5vh;
  }
  
  #image{
    width: 250px;
    height: 200px;
  }
  h4{
    font-size: 30px;
    color: rgb(116, 97, 220);
  }